.element_list{
    width:100%;
    display:flex;
    justify-content:flex-end;
    align-content:center;
    align-items:center;
    padding-right:2rem;
}



h3 {
    font-family: 'Varela Round', sans-serif;
    margin:0;
    padding:0 1rem;
    color:rgb(34, 34, 34);
    text-transform: uppercase;
}

.bubble{ 
    width:7vh;
    height:7vh;
    border-radius:200px;
    background-color:rgb(126, 126, 126);
    text-align:center;
    padding:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:0.4rem;
    
}

.bubble_icon{
    text-align: center;
    padding: 0;
}
