

.home_container{
    display:flex;
    margin:auto;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap:wrap;

    padding:7vh 14vh;
}


@media only screen and (max-width: 600px) {
    .home_container {
       padding:1%;
    }
} 

