
h2{
    margin:0;
}


.product_grid{
    width:15%;
    margin: 0.4rem;

}



.card_holder{
    background-color:rgb(31, 30, 30);
    width:100%;
    height: 300px;
    margin:1px;
    padding:1px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    align-content:center;
    border-radius:5px;
}


  .image_container{
    height:70%;
    position: relative;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:4px 4px 0 0;
    z-index:1;
}

h2{
    font-size:0.95rem;
    color:white;
    margin:0;
    padding:0;
    text-decoration:none;
    text-decoration-style: none;
}

h3{
    font-size:0.5rem;
    margin:0;padding:0;
    text-decoration:none;
    line-height: 1rem;
}

.numeric_info{
    display:flex;

}

.price{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index:1;
    background-color:rgb(208, 255, 0);
    line-height:2rem;
    font-size:2rem;
}

.add_to_cart{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    justify-items:space-between;

    width:100%;

}

.algo{
    width:70%;
    font-size:0.9rem;
    text-align:center;
    background-color:rgb(255, 255, 255);
    border:0px;
    color:rgb(71, 71, 71);
    border-radius:5px;
}

.link_to_product{
    text-decoration: none;
    color: black;
    text-align:center;
}




@media only screen and (max-width: 600px) {
    .product_grid{
        width:47%;
        margin: 1%;
    
    }
} 

