

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Righteous&display=swap');
h2{
    margin:0;
}


.product_grid{
    width:15%;
    margin: 0.4rem;

}


.data_container{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:30%;
    width:90%
}
.card_holder{
    background-color:rgb(243, 241, 241);
    width:100%;
    height: 300px;
    margin:0px;
    padding:0x;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    align-content:center;
    border-radius:5px;
    -webkit-box-shadow: 18px 22px 49px -32px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 22px 49px -32px rgba(0,0,0,0.75);
    box-shadow: 18px 22px 49px -32px rgba(0,0,0,0.75);
}

.image_container:hover {
    transform: scale(1.05);
    transition-duration: 1s; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .image_container{
    height:70%;
    position: relative;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:4px 4px 0 0;
    z-index:1;
}

h2{
    font-size:0.85rem;

    color:rgb(40, 40, 40);
    margin:0;
    padding:0;
    text-decoration:none;
    font-weight: thin;
    text-decoration-style: none;
}

h3{
    font-size:0.4rem;
    margin:0;padding:0;
    text-decoration:none;

}

.numeric_info{
    display:flex;

}

.price{
 
    z-index:1;
    color:rgb(80, 24, 191);

    
    line-height:1.5rem;
    padding:0.2rem;
    margin:0 0.5rem;
    font-size:1.2rem;
}

/* .add_to_cart{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    justify-items:space-between;
    align-content:center;
    align-items:center;
    width:100%;
    -webkit-box-shadow: 18px 22px 49px -32px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 22px 49px -32px rgba(0,0,0,0.75);
    box-shadow: 18px 22px 49px -32px rgba(0,0,0,0.75);

} */

.add_to_cart > button{
    width:100%;
    font-size:0.8rem;
    text-align:center;
    background-color:rgb(48, 48, 48);
    border:0px;
    line-height:1.7rem;
    color:rgb(255, 255, 255);
    border-radius:2px;
    padding:0;
    border:0;
    font-weight: bold;

}


.add_to_cart > button:active {
    transform:translateX(10px);
    transition-duration: 0.1s;
}

.link_to_product{
    text-decoration: none;
    color: black;
    text-align:center;
}




@media only screen and (max-width: 600px) {
    .product_grid{
        width:31%;
        margin: 1%;
    
    }
    .card_holder{
        height:70%;
    }
    .price{
        font-size:1.2rem;padding:0;
    }
} 

