.progress_bar_container{
      display:flex;
      width:100%;
      flex-direction:row;
      justify-items:space-between;
      justify-content:space-between;
      align-content: center;
      align-items:flex-start;
      padding:0;
      margin:0;
      .step{
            display:flex;
            flex-direction:column;
            align-content:center;
            align-items:center;
       }
}

.progress_bar_line_complete{
      height:1vh;
      margin:0.5rem;
      width:100%;
      background-color:black;

}

.progress_bar_step_one_circle{
      width:3vh;
      height:3vh;
      background-color: black;
      border-radius:200px;
}

.progress_bar_description{
      font-size:0.5rem;
      text-align:center;
     
}