$mobile: "only screen and (max-width : 776px)";

.go_home{
    position:fixed;
    bottom:1rem;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    justify-items:flex-end;
    left:2rem;
    padding-bottom: 1rem;

    div{
        width:10vh;
        height:10vh;
        border-radius:200px;
        border:5px #4545c9 solid;
        bottom: 1rem;
        right:2rem;
        z-index:15;
        background-color:#04045e;
        text-align:center;
        display:flex;
        align-items:center;
        justify-content:center;
        
        img{
            width:60%;
            height:60%;
        }
    }
}






