$mobile: "only screen and (max-width : 776px)";

.client_data{
	display:flex;
  	flex-direction:column;
  	width:30%;
	background-color: rgba(182, 182, 182, 0.2);
	border-radius:5px;
	margin:0 2.5%;
	padding:2% 5%;
	height:70vh;
	align-content:center;
	align-items:center;
	justify-content:space-around;
	-webkit-box-shadow: 10px 14px 49px -34px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 14px 49px -34px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 14px 49px -34px rgba(0, 0, 0, 0.75);
	@media #{$mobile}{
		width:85%;
	}

	.client_data_cart_detail {
		margin: 0px;
		font-family: 'Suez One', serif;
	}


  	.client_data_input{
		width:100%;
		
    	@media #{$mobile}{
        	width:90%;
		}
		input{
			width:96%;
			border:0;
			background-color:rgba(233, 232, 232, 0.568);
			border:1px solid rgb(61, 61, 61);
			padding:2%;
			margin-bottom:1.2rem;
			font-size:1rem;
		  }
  	}
  	.client_data_checkout{
    		width:100%;
    		@media #{$mobile}{
      	  	width:80%;
    		}

    	.client_data_checkout_button{
			width:100%;
			font-family: 'Suez One', serif;
      		text-align:center;
			height:2rem;
			background-color:black;
			color:white;
			border:none;
			padding:2%;
			font-size:1rem;
			@media #{$mobile}{
				display:none;
			}
		}
		
		.client_data_checkout_button_mobile{
			display:none;
			font-family: 'Suez One', serif;
			width:60%;
			text-align:center;
			height:10vh;
			border-radius: 50px;
		  	background-color:black;
		  	color:white;
		  	border:none;
		  	padding:0.5rem;
			@media #{$mobile}{
				display:block;
				position: fixed;
				bottom:2rem;
				right:5%;
			}
	  	}
	}

}

