body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(135deg, rgb(220, 220, 220) 25%, transparent 25%, transparent 50%, rgb(220, 220, 220) 50%,rgb(220, 220, 220) 75%, transparent 75%, transparent); 
    background-size: 3px 3px;
    width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*////////////////////////////////////////////*/
/*/////////////////////////////////ROWS///////*/
/*////////////////////////////////////////////*/



/*/////////////////////////////////SPACE_AROUND*/
.flexrow-I-I-{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;
}

.flexrow_I_I_{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:flex-end;
}


.flexrow°I°I°{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:flex-start;
}

/*/////////////////////////////////SPACE_BETWEEN*/
.flexrowI---I{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
}

.flexrowI___I{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:flex-end;
}

.flexrowI°°°I{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:flex-start;
}



/*/////////////////////////////////LEFT*/
.flexrow----I{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items:center;
}

.flexrow____I{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items:flex-end;
}

.flexrow°°°°I{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items:flex-start;
}


/*/////////////////////////////////RIGTH*/
.flexrowI----{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items:center;
}

.flexrowI____{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items:flex-end;
}

.flexrowI°°°°{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items:flex-start;
}


/*////////////////////////////////////////////*/
/*//////////////////////////////COMLUNS///////*/
/*////////////////////////////////////////////*/

.flexcolI---I{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  justify-items:flex-end;
  align-content:center;
  align-items:space-between;
  background-color:green;
}

.flexrowI___I{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:flex-end;
}

.flexrowI°°°I{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:flex-start;
}

